*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: rgb(46, 41, 41);
    color: rgb(97, 223, 97);
}
/* nav bar css start */
#nav-menu{
    width: 100%;
    height: auto;
    padding: 10px 10%;
    position: fixed;
    background-color: rgb(46, 41, 41);
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .fas{
    display: none;
}
.logo{
    font-size: 30px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(97, 223, 97);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(97, 223, 97);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
@media screen and (min-width:280px) and (max-width:653px){
    nav .fas{
        display: block;
        font-size: 22px;
    }
    nav ul{

        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background-color: rgb(46, 41, 41);
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 22px;
    }
    nav ul .fas{
        position: absolute;
        top:22px;
        left:22px;
        cursor: pointer;
    }
}
/* nav bar css end */

/* home section css */
#home{
    text-align: center;
    padding-top: 100px;
    height: auto;
    background-color: rgb(46, 41, 41);
    display: flex;
    justify-content: space-evenly;
}
#detials{
    padding-top: 150px;
}
#detials h3{
    margin-bottom:  20px; 
}
#detials>button{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0px solid rgb(46, 41, 41);
    background-color: rgb(97, 223, 97);
    color: rgb(46, 41, 41);
    font-size: 22px;
}
#detials button:hover{
    cursor: pointer;
    background-color: rgb(46, 41, 41);
    color: rgb(97, 223, 97);
    border: 1px solid rgb(97, 223, 97);
}
#detials button a:hover{
    color: rgb(97, 223, 97);
}
#home .home-img{
    border-radius: 100px;
    padding-bottom: 30px;
}
/* media query */
@media screen and (min-width:280px) and (max-width:653px){
    #home{
        display: flex;
        flex-direction: column;
    }
    #pic{
        margin-top: 30px;
    }
}
@media screen and (min-width:654px) and (max-width:1024px){
    #home{
        display: flex;
        flex-direction: column;
    }
    #pic{
        margin-top: 30px;
    }
}
/* home section css end */


/* about section css start */
#about{
    text-align: center;
}
#about_details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
#about_pic img{
    width: 100%;
    padding-left: 20px;
    padding-bottom: 30px;
}
#user-detail-intro{
    display: flex;
    align-items: center;
    text-align: justify;
    text-justify:inter-word;
    padding: 0px 20px;
    font-size: 22px;
    /* margin-right: 5px; */
}
@media screen and (min-width:280px) and (max-width:653px){
    #about_details{
    grid-template-columns: repeat(1,1fr);
   }
}
@media screen and (min-width:654px) and (max-width:1024px){
   #about_details{
    grid-template-columns: repeat(1,1fr);
   }
}
/* about section css end */


/* Skill section css start */
#skills{
    text-align: center;
    
}
#all_skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: auto;
    width: 80%;
}
.skills-card-img{
    width: 40%;
}
.skills-card-name{
    font-size: 22px;
}
@media screen and (min-width:280px) and (max-width:653px){
    #all_skills{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:654px) and (max-width:1024px){
    #all_skills{
        grid-template-columns: repeat(2,1fr);
    }
}
/* Skill section end */

/* Tool section start */
#tools{
    text-align: center;
    
}
#all_tools{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: auto;
    width: 80%;
}
.skills-card-img{
    width: 40%;
}
.skills-card-name{
    font-size: 22px;
}
@media screen and (min-width:280px) and (max-width:653px){
    #all_tools{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:654px) and (max-width:1024px){
    #all_tools{
        grid-template-columns: repeat(2,1fr);
    }
}
/* tools section css end */


/* project section css start */
#projects{
    text-align: center;
    padding: 0px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#main_project{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin: auto;
    width: 90%;
}
.project-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 20px;
    border: 2px solid rgb(97, 223, 97);
}
.all_links_project{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.project-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.project-description{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: justify;
    text-justify:inter-word;
}
.project-tech-stack{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.all_links_project{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
@media screen and (min-width:280px) and (max-width:653px){
    #main_project{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:654px) and (max-width:1024px){
    #main_project{
        grid-template-columns: repeat(1,1fr);
    }
}
/* project section css end */

/* contact section css start */
#contact{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}
#contact_inner{
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}
#contact_inner a{
    color: rgb(97, 223, 97);
    text-decoration: none;
}
#contact_inner i{
    font-size: 30px;
}
@media screen and (min-width:280px) and (max-width:653px){
    #contact_inner{
        display: flex;
        flex-direction: column;
    }
    #contact_inner>div{
        margin-bottom: 20px;
    }
}
@media screen and (min-width:654px) and (max-width:1024px){
    #contact_inner{
        display: flex;
        flex-direction: column;
    }
    #contact_inner>div{
        margin-bottom: 20px;
    }
}
/* contact section css end */

/* github calender css*/
.react-activity-calendar{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
#All_github_details{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;

}
@media screen and (min-width:280px) and (max-width:653px){
    #All_github_details{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:654px) and (max-width:1024px){
    #All_github_details{
        display: flex;
        flex-direction: column;
    }
}
/* Github css end */



