*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: #d7c49eff;
    color: #343148ff;
}
/* nav bar css start */
#nav-menu{
    width: 100%;
    height: auto;
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    font-size: 40px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #343148ff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #f2aa4cff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* nav bar css end */

/* home section css */
#home{
    text-align: center;
    padding-top: 30px;
    height: auto;
    background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;
}
#detials{
    padding-top: 150px;
}
#detials>button{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0px solid #343148ff;
    background-color: lightgrey;
    color: #343148ff;
    font-size: 20px;
}
#detials button:hover{
    cursor: pointer;
    background-color: #d7c49eff;
}
#home .home-img{
    border-radius: 100px;
    padding-bottom: 30px;
}
/* home section css end */




/* contact section css start */
#contact{
    text-align: center;
    margin: auto;
    
}
#contact_inner{
    font-size: 22px;
    
}
#contact_inner a{
    color: #343148ff;
    text-decoration: none;
}
#contact_inner i{
    font-size: 30px;
}




