*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: rgb(46, 41, 41);
    color: rgb(97, 223, 97);
}
/* nav bar css start */
#nav-menu{
    width: 100%;
    height: auto;
    padding: 10px 10%;
    position: fixed;
    background-color: rgb(46, 41, 41);
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    font-size: 30px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(97, 223, 97);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(97, 223, 97);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* nav bar css end */

/* home section css */
#home{
    text-align: center;
    padding-top: 100px;
    height: auto;
    background-color: rgb(46, 41, 41);
    display: flex;
    justify-content: space-evenly;
}
#detials{
    padding-top: 150px;
}
#detials>button{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0px solid rgb(46, 41, 41);
    background-color: rgb(97, 223, 97);
    color: rgb(46, 41, 41);
    font-size: 20px;
}
#detials button:hover{
    cursor: pointer;
    background-color: rgb(46, 41, 41);
    color: rgb(97, 223, 97);
    border: 1px solid rgb(97, 223, 97);
}
#home .home-img{
    border-radius: 100px;
    padding-bottom: 30px;
}
/* media query */
@media screen and (min-width:320px) and (max-width:650px){
    #home{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:651px) and (max-width:1024px){
    #home{
        display: flex;
        flex-direction: column;
    }
}
/* home section css end */




/* contact section css start */
#contact{
    text-align: center;
    margin: auto;
    
}
#contact_inner{
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}
#contact_inner a{
    color: rgb(97, 223, 97);
    text-decoration: none;
}
#contact_inner i{
    font-size: 30px;
}
@media screen and (min-width:320px) and (max-width:650px){
    #contact_inner{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:651px) and (max-width:1024px){
    #contact_inner{
        display: flex;
        flex-direction: column;
    }
}




